<div class="comments" style="background:rgba(251, 251, 251, 0.27); padding: 3px; margin: 3px; box-shadow: -1px 1px 3px 0 #DEDEDE;">
  <p style="background: #FAFAFA; margin:0; padding: 10px 0; box-shadow: -1px 1px 3px 0 #F0F0F0">
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <%= comment.body %>
  </p>

  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
</div>