<h1>Sitename#our_work</h1>

<%= render 'patern_clock' %>   <!--берет форму из шаблона _patern_clock.erb --><br/>

<%= link_to 'главная', sitename_home_path %>   |
<%= link_to 'заказать', sitename_order_path %>        |
<%= link_to 'контакты', sitename_contacts_path %>